<form [formGroup]="discountForm" validate>

  <h2 mat-dialog-title> {{header}}</h2>
  <mat-dialog-content class="mat-typography">
  <div class="example-container">
    
<mat-form-field class="example-full-width">
    <input  matInput placeholder="Discount Name" formControlName="name" #discountName="matInput" [(ngModel)]="discountItem.name" name="zoneName" id="discount-name" required>
        <mat-error *ngFor="let validation of validation_messages.name"> 
        <mat-error class="error-message" *ngIf="discountForm.get('name').hasError(validation.type)">
        {{validation.message}}
        </mat-error>
        </mat-error>
</mat-form-field>
  
<mat-form-field class="example-full-width">
    <input  matInput [matDatepicker]="picker" (focus)="picker.open()"  placeholder="From Date (mm/dd/yyyy)" formControlName="fromDate" [(ngModel)]="discountItem.fromDate" name="fromDate" id="discount-fromDate" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>    
        <mat-error *ngFor="let validation of validation_messages.fromDate"> 
        <mat-error class="error-message" *ngIf="discountForm.get('fromDate').hasError(validation.type)">
        {{validation.message}}
        </mat-error>
        </mat-error>
</mat-form-field>

<mat-form-field class="example-full-width">
    <input  matInput [matDatepicker]="pickerTo" (focus)="pickerTo.open()" placeholder="To Date (mm/dd/yyyy)" formControlName="toDate" [(ngModel)]="discountItem.toDate" name="toDate" id="discount-toDate" required>
    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTo></mat-datepicker>        
        <mat-error *ngFor="let validation of validation_messages.toDate"> 
        <mat-error class="error-message" *ngIf="discountForm.get('toDate').hasError(validation.type)">
        {{validation.message}}
        </mat-error>
        </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input  matInput type="time" placeholder="From Time (HH:mm)" formControlName="fromTime" [(ngModel)]="discountItem.fromTime" name="fromTime" id="discount-fromTime" required>
        <mat-error *ngFor="let validation of validation_messages.fromTime"> 
        <mat-error class="error-message" *ngIf="discountForm.get('fromTime').hasError(validation.type)">
        {{validation.message}}
        </mat-error>
        </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input  matInput type="time" placeholder="To Time (HH:mm)" formControlName="toTime" [(ngModel)]="discountItem.toTime" name="toTime" id="discount-toTime" required>
        <mat-error *ngFor="let validation of validation_messages.toTime"> 
        <mat-error class="error-message" *ngIf="discountForm.get('toTime').hasError(validation.type)">
        {{validation.message}}
        </mat-error>
        </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input  matInput type="number" placeholder="Rate %" formControlName="rate" [(ngModel)]="discountItem.rate" name="rate" id="discount-rate" required>
        <mat-error *ngFor="let validation of validation_messages.rate"> 
        <mat-error class="error-message" *ngIf="discountForm.get('rate').hasError(validation.type)">
        {{validation.message}}
        </mat-error>
        </mat-error>
  </mat-form-field>
  
  </div>
  </mat-dialog-content>
          
  <mat-dialog-actions align="end">
    <button  mat-raised-button [mat-dialog-close]="true" color="primary" id="discount-btn-cancel">Cancel</button>
    <button  mat-raised-button cdkFocusInitial  (click)="save()" color="primary" [disabled]="!discountForm.valid" id="discount-btn-save">Save</button>
  </mat-dialog-actions>
</form>